.form {
    margin: 0 10px
}
.form__control {
    width: 90%;
}
.form__header {
    border-bottom: 1px solid black;
    padding: 10px 0 20px 0;
    width: 35%;
}
.title {
    width: 45%
}
.author {
    width: 20%
}
#pubYear {
    width: 11em;
}
#url {
    width: 40%
}
#select {
    width: 11em;
}
#date {
    width: 11em;
}
.submit-book {
    margin-right: 20px;
}