.form {
    margin: 0 10px
}
.form__control {
    width: 90%;
}
.form__header {
    border-bottom: 1px solid black;
    padding: 10px 0 20px 0;
    width: 35%;
}
#title {
    width: 45%;
    background-color: #f0ede9;
}
#author {
    width: 20%;
    background-color: #f0ede9;
}
#pubYear {
    width: 12em;
    background-color: #f0ede9;
}
#url {
    width: 40%;
    background-color: #f0ede9;
}
#select {
    width: 12em;
    background-color: #f0ede9;
}
#date {
    width: 12em;
    background-color: #f0ede9;
}
.submit-book {
    margin-right: 20px;
}
.cancel-book {
    margin-right: 20px;
}