/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
  background-color: #DCD9D4;
  background-blend-mode: soft-light,screen;
  font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}


.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}