.navContainer {
    margin-top: 10px;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#navImg {
    width: 60px;
    height: 60px;
}
.nav-headerLeft {
    margin: 0 15px;
}
.nav-headerRight {
    margin: 20px 15px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-content: center;
}