.navContainer {
    margin-top: 10px;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#navImg {
    width: 60px;
    height: 60px;
}
.nav-headerLeft {
    position: relative;
    animation: headerLeft 1s linear;
    margin: 0 15px;
}
@keyframes headerLeft {
    from {right: 500px;}
    to {right: 0px;}
}
.nav-headerRight {
    position: relative;
    animation: headerRight 1s linear;
    margin: 20px 15px;
}
@keyframes headerRight {
    from {left: 500px;}
    to {left: 0px;}
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 35px;
}
.navbar__link {
    border-radius: 15px;
    color: darkgoldenrod;
}
.navbar__link:hover {
    color: rgb(255, 255, 255);
    background-color: darkgoldenrod;
}
.notificationsIcon {
    background-color: rgb(218, 192, 80);
    /* margin-left: 400px; */
    font-size: 16px;
    text-align: center;
    width: 200px;
    height: 40px;
    padding-bottom: 40px;
    padding-top: 15px;
    border-radius: 15px;
}